.inputGroup {
  margin-bottom: 16px;
}

.input {
  color: #eee;
  background-color: #333;
}

.jobItem {
  display: flex;

  button {
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
  }
}
