.wrapper {
  grid-area: toolbar;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #333333;
  padding: 16px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #333;
  border: none;
  border-bottom: 1px solid #444;
  border-radius: none;
  box-sizing: border-box;
  color: #eee;
  display: flex;
  flex-basis: 64px;
  justify-content: center;
  text-decoration: none;

  &:first-child {
    border-top: 1px solid #444;
  }

  &:focus {
    outline: none;
  }

  &:hover:not(.active) {
    background-color: #444;
  }
}

.active {
  background-color: #222;
}
